
<div class="inner cover">
  <h1 class="cover-heading">Tic Tac Toe Chanllenge</h1>
  <p class="lead">It's an old style game, but AI is pretty smart than you think. Try to beat it!!</p>
  <p class="lead">    
    <%= link_to 'Start to Play', game_show_path %>
  </p>
</div>


