
<div class="inner cover">
  <h1 class="cover-heading">Nobody Can Defeat Titan!!</h1>
  <p class="lead">It's an old school game, but Titan is pretty smarter than you thought.</p>
  <p class='lead'>Try to beat it!!</p>
  <p class="lead">    
    <%= link_to game_path, class: 'btn btn-primary btn-lg' do %>
    <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
    Start to Play
    <% end %>
  </p>
</div>


