<div><span class="label label-default"><%= @message %></span></div>

<%= render 'game_board', count: @board.steps %>

<div>
  <h4><%= link_to 'Play Again', game_new_path, class: 'btn btn-default' %></h4>
</div>