<div class="row">
  <div class="col-md-4"><%= game_record.user.username %></div>
  <div class="col-md-4"><%= game_record.attack_times %></div>
  <div class='col-md-4'><%= game_record.status %></div>
</div>
