
.doughnut { 
  display: inline-block;
  border: 10px solid #f00;
  border-radius: 50px;
  height:50px;
  width:50px;
}

.host_doughnut { 
  display: inline-block;
  border: 5px solid #fff;
  border-radius: 30px;
  height:60px;
  width:60px;
}

.unpicked {
  display: inline-block;
  height:66px;
  width:66px;
  border: 2px dashed #444;
}


.unpicked:hover {
  border: 10px solid #f66;
  border-radius: 50px;
  height:50px;
  width:50px;
}

.spacer {
  height:0px;
  width:0px;
  border:0px;
}

.show_steps {
  text-align: left;
}