

.doughnut { 
  display: inline-block;
  border: 10px solid #f00;
  border-radius: 50px;
  height:60px;
  width:60px;
}

.host_doughnut { 
  display: inline-block;
  border: 5px solid #fff;
  border-radius: 20px;
  height:60px;
  width:60px;
}

.unpicked {
  display: inline-block;
  height:60px;
  width:60px;
  border: 2px dashed #444;
}


.unpicked:hover {
  border: 10px solid #f66;
  border-radius: 50px;
  height:60px;
  width:60px;
}
