<div class="mastfoot">
  <div class="inner">
    <p>
    This game is a personal project after Tealeaf Academy Course 2 @2015-02.</p>
    <p>
    
    Created by <a href="http://tomohung.com">Tomo Hung</a>, 
    <%= link_to game_about_path do %>
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
      About Titan's Tic Tac Toe
    <% end %>
    
    </p>

  </div>
</div>