<div class="mastfoot">
  <div class="inner">
    <p>This game is a personal project after Tealeaf Academy Course 2 @2015-02.</p>
    <p>Created by <a href="http://tomohung.com">Tomo Hung</a>.</p>
  </div>
</div>