<div class="mastfoot">
  <div class="inner">
    <p>This game is for Tealeaf Academy Course practice @2015-02-23.</p>
    <p>License by <a href="http://tomohung.com">Tomo Hung</a>.</p>
  </div>
</div>