<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand"><%= link_to 'Tic Tac Toe', root_path %></h3>
    <nav>
      <ul class="nav masthead-nav">
        <li class="active"> <%= link_to 'Play Game', game_show_path %></li>
        <li><a href="#">Leader Board</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </nav>
  </div>
</div>